*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;

    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, blue, orange, violet);
}

svg {
    width: 2rem;
    height: 3rem;
    color: black;
}


.headNav23{
    display: inline-block;
}