:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --colorBackg: linear-gradient(10deg, rgba(0, 195, 255, 0.877), rgb(251, 253, 124), rgba(120, 218, 120, 0.863));
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background: var(--colorBackg)
}

.burger-menu-bar{
  cursor: pointer;
  margin: 1rem;
}

.search-nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid black;
  width: 16rem;
  height: 2.2rem;
}

.search-nav-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;

}

/* .search-nav-bar svg {
  fill: white;

} */


.login-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: .3rem .7rem;
  margin: 3rem;
  width: 9rem;
  border-radius: 20px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}


form {
  border: 2px solid blue;
  padding: 2rem;
  border-radius: 3rem;
  background: var(--colorBackg);
}


.submitButton,
.submitLoginButton{
  width: 100%;
  align-self: center;
  border: none;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 2rem;
}

.hidden {
  display: none;
}





















/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
