:root {
    --blueBackground: linear-gradient(45deg, rgba(55, 165, 255, 0.897), rgba(9, 0, 139, 0.726));
    --productTitle: "Forum", serif; 
    --categoryTitle: "Instrument Serif", serif;
    --productDescription: "Fraunces", serif;
    --loginColor: rgb(18, 26, 26);
}

.form {
    font-family: var(--productTitle);
    width: 32rem;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5rem;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-group input {
    background: transparent;
    outline: none;
    border-radius: 5px;
    border: 1.2px solid var(--loginColor);
    color: #fff;
    font-size: 1rem;
    padding: 1rem 0.75rem 0.5rem 0.75rem;
    width: 100%;
    height: 3rem;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--loginColor);
    /* color: #676770; */
    background: transparent;
    padding: 0 .3rem;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: 0;
    transform: translateY(-50%) scale(0.85);
    background: #010031;
    padding: 0 .3rem;
    color: #fff;
}

.form span,
.form span a {
    color: var(--loginColor);
    height: 2rem;
    text-decoration: none;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    margin-top: 1rem;
}

.buttons button {
    background: transparent;
    outline: none;
    border-radius: 5px;
    border: 1.2px solid var(--loginColor);
    color: var(--loginColor);
    font-size: 1rem;
    padding: 0 .9rem;
    height: 2rem;
}

a:hover .here-text {
    color: #676770;
    text-decoration: underline;
}